body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(359deg, #dcdcdc, #979898);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: rgba(120,70,154, 0.2);
  text-align: center;
  top: 0;
  left: 0;
  justify-content: space-around;
}
.navbar h1 {
    color: #ffffff;
    margin: 0;
    align-self: center;
}
